# Disable telemetry
NEXT_TELEMETRY_DISABLED=1
UPSTASH_DISABLE_TELEMETRY=1

# Prisma Database URL & Upstash Redis
# Default values for docker-compose
DATABASE_URL=postgres://ct3t-admin:ct3t-pass@localhost:5432/ct3t-db
UPSTASH_REDIS_REST_URL=http://localhost:8079
UPSTASH_REDIS_REST_TOKEN=ct3t-srh-token

# Clerk keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Terraform Tokens
# We cannot use the same vars for Terraform and local development
# because they might be different 
TF_VAR_VERCEL_API_TOKEN=
TF_VAR_UPSTASH_EMAIL=
TF_VAR_UPSTASH_API_KEY=
TF_VAR_PLANETSCALE_DB_URL=
TF_VAR_NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
TF_VAR_CLERK_SECRET_KEY=
